---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="Horario">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Horario</Fragment>
      <Fragment slot="desc">
        
        <p class="mt-8 text-left">
        El evento dará comienzo el Viernes 19 de Septiembre a las 16:00, cuando tendrá lugar la inauguración oficial. Las ponencias, charlas y actividades las publicaremos en los próximos días. Mientras tanto, os podemos adelantar que el horario será el siguiente:
        </p>

        <ul class="list-disc p-6 text-left">
          <li>Viernes 19 de Septiembre: 16:00h a 21:00h</li>
          <li>Sábado 20 de Septiembre: 11:00h a 14:00h y de 16:00h a 21:00h</li>
          <li>Domingo 21 de Septiembre: 11:00h a 14:00h</li>
        </ul>

        <p class="mt-4 text-left">
          Contamos con dos tracks de conferencias, uno de talleres y de charlas cortas, otro de presentaciones editoriales, y también una sala lúdica.
          Además de esto, la feria editorial estará abierta durante todo el horario del evento.
        </p>

        <p class="mt-4 text-left">
          La gala de los Premios Ignotus tendrá lugar el sábado 20 de Septiembre a las 19:00h, y la entrada será gratuita.
        </p>

        <p class="mt-4 text-left">
          El sábado por la noche se celebrará una noche de podcasts, con la participación de varios programas, en una sala habilitada para ello.
        </p>
      </Fragment>
      <Fragment slot="desc">
        <p class="mt-4 text-left">
        Publicaremos el horario de actividades definitivo cuando esté disponible.
        </p>
      </Fragment>
    </Sectionhead>
  </Container>
</Layout>
