---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.ca.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

const base = import.meta.env.BASE_PATH || "";

const publishedBlogEntries = await getCollection("info", ({ data }) => {
  return !data.draft && (data.lang === "ca" && data.lang);
});

---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre l’esdeveniment</Fragment>
      <Fragment slot="desc">
        Toda la información sobre el evento
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((infoPostEntry, index) => (
            <li>
              <a href={`/ca/info/${infoPostEntry.slug.replace(/^ca\//, '').replace(/^info\//, '')}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-top">
                  <Picture
                    src={infoPostEntry.data.image.src}
                    alt={infoPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    //width={800}
                    height="auto"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover object-center bg-white"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {infoPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {infoPostEntry.data.title}
                    </h2>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
