---
import Container from "@/components/container.astro";
---

<Container>
<div class="flex flex-col w mt-16 md:mt-0">
  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Sobre el evento
    </h2>

    <p class="text-lg mt-4 text-slate-600">
        La HispaCón es la convención anual llevada a cabo por Pórtico, la Asociación Española de Fantasía, Ciencia-Ficción y Terror. Es un evento itinerante que este 2025 celebra su 43ª edición en Sabadell, los días 19, 20 y 21 de septiembre.
    </p>
  </div>

  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Inscripciones
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      No es necesario inscribirse, la entrada es gratuita. Sí que tendremos a la disposición de los asistentes acreditaciones. De este modo, quien lo desee, podrá recoger una acreditación en la mesa de la feria habilitada para ello. 
    </p>
  </div>

  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Lugar
    </h2>
    <p class="text-lg mt-4 text-slate-600">
        El espacio donde se realizará el evento será el Casal Pere Quart, gracias al apoyo del Ajuntament de Sabadell, un lugar especial y perfecto para albergar las ponencias, la feria editorial, distintas actividades y donde también tendrá lugar la gala de los Premios Ignotus.
    </p>
  </div>
</div>
</Container>