---
import { Picture } from "astro:assets";
import ajuntamentSabadell from "@/assets/ajuntament-de-sabadell.png";

---

<footer class="my-20 grid lg:grid-cols-2 place-items-center pb-2 md:pt-2 md:pb-2 sm:flex-row gap-2 bottom-0">
  <p class="text-center text-sm text-slate-500">
    Copyright © Hispacón 2025 - Pórtico
  </p>
  <Picture
    src={ajuntamentSabadell}
    alt="Ajuntament de Sabadell"
    width="220"
    sizes="(max-width: 800px) 100vw, 620px"
    loading="eager"
    format="avif"
  />
</footer>
