---
import Container from "@/components/container.astro";
---

<Container>
<div class="flex flex-col w mt-16 md:mt-0">
  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Sobre l'esdeveniment
    </h2>

    <p class="text-lg mt-4 text-slate-600">
        La HispaCón és la convenció anual duta a terme per Pórtico, l'Associació Espanyola de Fantasia, Ciència-Ficció i Terror. És un esdeveniment itinerant que aquest 2025 celebra la seva 43a edició a Sabadell, els dies 19, 20 i 21 de setembre.    </p>
  </div>

  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Inscripcions
    </h2>

    <p class="text-lg mt-4 text-slate-600">
        No és necessari inscriure's, l'entrada és gratuïta. Si que tindrem a la disposició dels assistents acreditacions. D'aquesta manera, qui ho desitgi, podrà recollir una acreditació en la taula de la fira habilitada per a això.</p>
  </div>

  <div class="mb-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Lloc
    </h2>
    <p class="text-lg mt-4 text-slate-600">
        L'espai on es realitzarà l'esdeveniment serà el Casal Pere Quart, gràcies al suport de l’Ajuntament de Sabadell, un lloc especial i perfecte per a albergar les ponències, la fira editorial, diferents activitats i on també tindrà lloc la gala dels Premis Ignotus.    </p>
  </div>
    <p class="text-lg mt-4 text-slate-600">
        Informació sobre com arribar des de Barcelona a Sabadell <a class="text-cyan-600" href="/ca/info/casal-pere-quart" target="_blank" rel="noopener noreferrer">aquí</a>.
    </p>
</div>
</Container>
